<html>
<head>
    <title>Task homepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Tasks
      </h1>
      <h2 class="subtitle">
            <div class="columns">
                    <div class="column">
                        <p> <a class="button is-primary is-inverted" href="/level1 ">Level 1</a>  </p>
                    </div>
                    <div class="column">
                        <p> <a class="button is-link is-inverted" href="/level2 ">Level 2</a>  </p>
                    </div>
                    <div class="column">
                        <p> <a class="button is-info is-inverted" href="/level3">Level 3</a>  </p>
                    </div>
            </div>
      </h2>
    </div>
  </div>
</section>
</body>
</html>